{
	"tabWidth": 2,
	"printWidth": 130,
	"arrowParens": "always",
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"semi": true,
	"trailingComma": "all",
	"proseWrap": "never"
}
