//____________________** iransans **____________________//
@font-face {
	font-family: 'iransans';
	font-weight: 400;
	src: url('../font/iransans/iransans-400.woff');
}
@font-face {
	font-family: 'iransans';
	font-weight: 500;
	src: url('../font/iransans/iransans-500.woff');
}
@font-face {
	font-family: 'iransans';
	font-weight: 600;
	src: url('../font/iransans/iransans-600.woff');
}
@font-face {
	font-family: 'iransans';
	font-weight: 700;
	src: url('../font/iransans/iransans-700.woff');
}

//____________________** iranyekan **____________________//
// @font-face {
// 	font-family: 'iranyekan';
// 	font-weight: 400;
// 	src: url('../font/iranyekan/iranyekan-400.woff2');
// }
// @font-face {
// 	font-family: 'iranyekan';
// 	font-weight: 500;
// 	src: url('../font/iranyekan/iranyekan-500.woff');
// }
// @font-face {
// 	font-family: 'iranyekan';
// 	font-weight: 700;
// 	src: url('../font/iranyekan/iranyekan-700.woff2');
// }

//____________________** vazir **____________________//
// @font-face {
// 	font-family: 'vazir';
// 	font-weight: 400;
// 	src: url('../font/vazir/vazir-400.ttf');
// }

// @font-face {
// 	font-family: 'vazir';
// 	font-weight: 500;
// 	src: url('../font/vazir/vazir-500.ttf');
// }

// @font-face {
// 	font-family: 'vazir';
// 	font-weight: 700;
// 	src: url('../font/vazir/vazir-700.ttf');
// }

//____________________** lora **____________________//
// @font-face {
// 	font-family: 'lora';
// 	font-weight: 400;
// 	src: url('../font/lora/lora-400.ttf');
// }
// @font-face {
// 	font-family: 'lora';
// 	font-weight: 500;
// 	src: url('../font/lora/lora-500.ttf');
// }
// @font-face {
// 	font-family: 'lora';
// 	font-weight: 700;
// 	src: url('../font/lora/lora-700.ttf');
// }

//____________________** crea **____________________//
@font-face {
	font-family: 'crea';
	font-weight: 400;
	src: url('../font/crea/crea-400.otf');
}
@font-face {
	font-family: 'crea';
	font-weight: 500;
	src: url('../font/crea/crea-500.otf');
}
@font-face {
	font-family: 'crea';
	font-weight: 700;
	src: url('../font/crea/crea-700.otf');
}
