.container {
	background: linear-gradient(28deg, rgba(152, 162, 179, 0) 60.27%, rgba(25, 117, 255, 0.05) 91.95%), #fff;
	box-shadow: 0px 16px 32px 0px rgba(16, 24, 40, 0.08);
	box-shadow: 0px 16px 32px 0px rgba(16, 24, 40, 0.08);
}
